<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-4">
        <app-formulario></app-formulario>
    </div>
    <div class="col-8">
      <div class="container-fluid">
        <div class="row">
          <div id="TituloSimulador">
            <p id="TextoTitulo">
              Simulador de riesgos cardiovasculares
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6" style="padding: 0;">
            <app-risk-result></app-risk-result>
          </div>
          <div class="col-6" style="padding: 0%;">
            <app-food-graph></app-food-graph>
          </div>
        </div>
        <div class="row">
          <!--Componente de grafica y titulo de riesgo cardiovascular-->
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
