<button class="btnAlimentos" (click)="open(content)" type="button">Tabla de alimentos</button>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Seleccione los alimentos que consume:</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
         <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body container">
        <div class="row">
            <app-alimento-item id="alimento{{ alimento.id }}" *ngFor="let alimento of alimentos" [alimento]="alimento.alimento" [colesterol]="alimento.colesterol/5" [img]="alimento.img" [statusClass]="alimento.status" (selectedEvent)="saveFood($event)" (deleteEvent)="deleteFood($event)"></app-alimento-item>
        </div>
    </div>
</ng-template>